.building-chart-container
    position: relative
    width: 100%

    height: 100%

.floors-container
    position: fixed
    background-color: rgba(0, 0, 0, .4)
    color: white
    margin-left: 10px
    margin-top: 10px

.modal-back
    position: fixed
    display: flex
    justify-content: center
    align-items: center
    z-index: 9999
    background-color: rgba(0, 0, 0, .4)
    top: 0
    right: 0
    bottom: 0
    left: 0

    .modal-dialog
        padding: 10px
        display: flex
        flex-direction: column
        min-width: 500px
        min-height: 300px
        background-color: white
        border-radius: 4px
        box-shadow: 0 3px 20px 0px black

    .modal-header
        display: flex
        justify-content: space-between
    .modal-body
        display: flex
        flex-direction: column
        flex-grow: 1
    .form-field
        display: flex
        flex-direction: column

.device-item
    display: flex
    .item-container
        display: flex
        flex-direction: column
        align-items: center
        font-size: 12px

.chart-icon
    position: absolute
    text-align: center
    // transition: top .3s ease-out, left .3s ease-out
    transform: translate(-50%,-100%)

    .icon-wrapper
        position: relative
        transform: translateY(-15px)
        .beam
            position: absolute
            left: 50%
            width: 80px
            height: 100%
            transform: translateX(-50%)
            z-index: -1
        .bottom
            position: absolute
            left: 50%
            transform: translateX(-50%)
            z-index: -1

    // 蓝色三角类型
    .icon-wrapper.type-1
        .beam
            background-image: linear-gradient(transparent, #465f71)
        .bottom
            width: 0
            height: 0
            bottom: 0
            transform: translate(-50%, 75%) scaleY(0.5)
            border: 40px solid #5b8696
            border-left-color: transparent
            border-bottom-color: transparent
            border-right-color: transparent
            z-index: -1

    // 白色圆圈类型
    .icon-wrapper.type-2
        .beam
            background-image: linear-gradient(transparent, #929292)
        .bottom
            width: 80px
            height: 25px
            bottom: 0
            background-color: #cecece
            transform: translate(-50%, 55%)
            border-radius: 50%
            border: none
            z-index: -1

    .image-container
        display: flex
        flex-direction: column
        align-items: center
        color: #4fabb9

        .label
            font-size: 20px
            color: white
            font-weight: bold
        .image-wrapper
            animation: floating 2s ease-in-out infinite
            @keyframes floating
                0%
                    transform: translateY(0)
                50%
                    transform: translateY(-10%)
                100%
                    transform: translateY(0)
        .icon-img
            width: 40px

    // .tail
    //     height: 80px
    //     margin-top: 10px
    //     transform: translateX(-50%)
    //     border-right: 2px dashed #e6c62a
